<h2><%=l(:label_register)%> </h2>

<p>
  Before you can use Redmine, please provide and verify your details below:
</p>

<%= labelled_form_for @user, :url => "cas_user_register", :html => {:multipart => true} do |f| %>
  <%= error_messages_for 'user' %>

  <div class="box tabular">
    <legend><%=l(:label_information_plural)%></legend>
    <p><%= f.text_field :login, :required => true, :disabled => true, :size => 25  %></p>
    <p><%= f.text_field :firstname, :required => true %></p>
    <p><%= f.text_field :lastname, :required => true %></p>
    <p><%= f.text_field :mail, :required => true %></p>

    <%= labelled_fields_for :pref, @user.pref do |pref_fields| %>
      <p><%= pref_fields.check_box :hide_mail %></p>
    <% end %>

    <% unless @user.force_default_language? %>
      <p><%= f.select :language, lang_options_for_select %></p>
    <% end %>

    <% @user.custom_field_values.select {|v| (Setting.show_custom_fields_on_registration? && v.editable?) || v.required?}.each do |value| %>
      <p><%= custom_field_tag_with_label :user, value %></p>
    <% end %>
  </div>
  <%= submit_tag l(:button_submit) %>
<% end %>
